@import "tailwindcss";
@layer base {
  html {
    scrollbar-gutter: stable;
  }
}
/* Dark */
:root {
  /* Backgrounds */
  --background: #0d0b14;
  --surface: #171421;
  --surface-hover: #2d273d;

  /* Text */
  --foreground: #f5f3ff;
  --muted: #aaa3b8;
  --muted-foreground: #766e85;

  /* Borders */
  --border: #4c455c;
  --divider: #211c2d;

  /* Accent */
  --primary: #bfaaff;
  --primary-hover: #9d84ff;
  --primary-foreground: #100c18;

  /* States */
  --success: #4ade80;
  --warning: #fbbf24;
  --danger: #f87171;

  /* Shadow */
  --shadow: rgba(0, 0, 0, 0.45);
}

.frappe {
  background-color: #ffffff16;
  pointer-events: none;
}

.nav-blur {
  mask: linear-gradient(black, black, transparent);
  backdrop-filter: blur(10px);
}

/* 
div,
figure {
  border: 1 solid white;
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.txt {
  @apply text-sm text-(--muted) leading-7;
}

.wrapper {
  @apply mx-auto w-full max-w-280 px-4 md:px-8;
}

.button-primary {
  @apply flex h-12 w-38 md:h-12 md:w-42 items-center justify-center rounded-full text-sm
    bg-(--primary) text-(--primary-foreground)
    font-bold tracking-wide duration-200 cursor-pointer
    hover:bg-(--primary-hover)
    active:scale-95;
}

.button-secondary {
  @apply flex h-12 w-38 md:h-12 md:w-42 items-center justify-center rounded-full text-sm
    border border-(--border)
    bg-(--surface) text-(--foreground)
    font-semibold duration-200 cursor-pointer
    hover:bg-(--surface-hover)
    active:scale-95;
}

.card-border {
  @apply rounded-2xl border border-(--border)
    bg-(--surface)
    transition duration-200
    hover:border-(--primary);
}

.dim-bg-effect {
  @apply bg-(--background) transition duration-150
    hover:bg-(--surface-hover);
}

.section-title {
  @apply text-[1.625rem] md:text-3xl flex items-center gap-2 font-bold tracking-wide font-mono;
}

.section-subtitle {
  @apply mt-3 max-w-2xl text-(--muted) leading-7;
}

.nav-link {
  @apply text-sm text-(--muted) transition
    hover:text-(--foreground);
}

.tag {
  @apply rounded-full border border-(--border)
    bg-(--surface-hover)
    px-3 py-1 text-xs font-medium
    text-(--muted);
}
